<div class="container bg-dark py-5 text-warning">
    <h2 class="text-center tit-footer"> - SKATE PARK - </h2>
    <hr>
    <div class="text-center mt-3">
    <i class="fa-brands fa-facebook fs-3 me-3"></i>
    <i class="fa-brands fa-square-instagram fs-3 me-3"></i>
    <i class="fa-brands fa-square-x-twitter fs-3 me-3"></i>
    <i class="fa-brands fa-square-whatsapp fs-3"></i>
    </div>
</div>