   <div class="container p-3">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-3 px-3 text-center">
                    <img class="icon_img mb-3" src="../assets/img/img_skate1.jpg" width="100" alt="skater icon">
                    <hr>
                    <h3>Skater</h3>
                </div>
                  <div class="col-12 col-md-3 px-3 text-center">
                    <img class="icon_img mb-3" src="../assets/img/img_skate2.jpg" width="100" alt="skater icon">
                    <hr>
                    <h3>Shopping</h3>
                </div>
                  <div class="col-12 col-md-3 px-3 text-center">
                    <img class="icon_img mb-3" src="../assets/img/img_skate3.jpg" width="100" alt="skater icon">
                    <hr>
                    <h3>Foood</h3>
                </div>
            </div>
        </div>