<main class="top_main pb-5">
    <section>
        <div class="container my_container_home mt-3 p-3">
            <div class="row text-center mt-5 mb-5">
                <div class="col-12 col-md-6">
                    <div>
                        <img class="img_inicio" src="../assets/img/img-inicio.jpg" alt="skate Park" width="380">
                    </div>
                </div>
                <div class="col-12 col-md-6 pt-3 mt-3">
                    <div>
                        <h2 class="subtitle">Skate Park</h2>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ab facilis, odit possimus
                            quae voluptates delectus labore, consequatur provident, explicabo excepturi amet.
                            Consectetur sequi velit dolor voluptatem quae, debitis possimus?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="conatiner text-center py-3">
        <hr>
    </div>

    <section>
        <div class="container bg-black p-3 container_section2">
            <h2 class="text-center mt-5">SkaterBoard Uruban & Park</h2>
            <p class="text-center text-warning pb-3">
                _____________________________________</p>
            <p class="text-center px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum minus animi ea!
                Similique, corporis
                quidem quam nihil, assumenda harum quis quasi neque deserunt, dolore numquam nisi libero distinctio
                accusantium. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae perferendis, et unde
                voluptas alias in ab inventore repudiandae, impedit fugit fugiat! Totam consequatur dolorem quo illo
                excepturi, ab suscipit atque?</p>
        </div>
    </section>

    <div class="conatiner text-center py-3">
        <hr>
    </div>

    <section>
        {{>sectionIcon}}
    </section>
</main>